<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <title>Document</title>
</head>

<body>

    <style>
        body {
            background-color: rgb(42, 42, 42);
        }
    </style>
    <div id="root" style="padding: 5px;">
        <button class="mini ui button" v-on:click="close()" style="float: right; margin: 10px;">X</button>

        <div class="ui two item menu">
            <a href="./index.html" class="active item">Sparing</a>
            <a href="./index2.html" class="item">Forms</a>
        </div>

        <form class="ui form">
            <div class="field">
                <div v-if="score1 == score2"
                    style="background-color: white; height: 11vh; text-align: center; font-size: large;">
                    <br><br><strong>Draw</strong></div>
                <div v-else="score1 > 0 || score2 > 0"
                    style="background-color: white; height: 11vh; text-align: center; font-size: large;">
                    <br><br><strong>{{ score1 > score2 ? "RED" : "BLUE" }}</strong></div>
            </div>
            <button class="ui inverted red button" v-on:click="count($event)"
                style="float: left; height: 10vh; width: 15%;">RED</button>



            <div style="float: left !important; width: 34.5%;">
                <input v-model="score1" type="text"
                    style="height: 20vh; outline: none; border: none; text-align: center; font-size: large; background-color: yellow;"
                    readonly>
            </div>

            <button class="ui inverted blue button" v-on:click="count1($event)"
                style="float: right; height: 10vh; width: 15%;">BLUE</button>

            <div style="float: right !important; width: 34.5%; padding-right: 5px;">
                <input v-model="score2" type="text"
                    style="height: 20vh; outline: none; border: none; text-align: center; font-size: large; background-color: yellow;"
                    readonly>
            </div>
            <button class="ui inverted yellow button" v-on:click="count2($event)"
                style="float: left; height: 10vh; width: 15%;">Yellow card</button>
            <button class="ui inverted yellow button" v-on:click="count3($event)"
                style="float: right; height: 10vh; width: 15%;">Yellow card</button>

                <button class="ui inverted white button" v-on:click="reprimand1($event)"
                style="float: left; height: 10vh; width: 15%;">Reprimand {{ opomin1 }}</button>
            <button class="ui inverted white button" v-on:click="reprimand2($event)"
                style="float: right; height: 10vh; width: 15%;">Reprimand {{ opomin2 }}</button>
    </div>


    </div>

    <script>
        const { ipcRenderer } = require('electron');

        document.addEventListener("DOMContentLoaded", function () {
            new Vue({
                el: "#root",
                data: () => ({
                    score1: 0,
                    score2: 0,
                    opomin1: 0,
                    opomin2: 0
                }),
                methods: {
                    close() {
                        ipcRenderer.send('request-app-close');
                    },
                    count($event) {
                        $event.preventDefault();
                        this.score1 = this.score1 + 1;
                    },
                    count1($event) {
                        $event.preventDefault();
                        this.score2 = this.score2 + 1;
                    },
                    count2($event) {
                        $event.preventDefault(),
                            this.score1 = this.score1 - 1;
                    },
                    count3($event) {
                        $event.preventDefault(),
                            this.score2 = this.score2 - 1;
                    },
                    reprimand1($event){
                        $event.preventDefault(),
                        this.opomin1 = this.opomin1 + 1;

                        if(this.opomin1 >= 3){
                            this.score1 = this.score1 - 1;
                            this.opomin1 = 0;
                        }
                    },
                    reprimand2($event){
                        $event.preventDefault(),
                        this.opomin2 = this.opomin2 + 1;

                        if(this.opomin2 >= 3){
                            this.score2 = this.score2 - 1;
                            this.opomin2 = 0;
                        }
                    }
                }
            });
        });
    </script>



</body>

</html>